<h1>SignUp for weatherstuff</h1>

<form class="signUp" action="/register" method="POST">
	<span style="color: red">{{ loginmessage }}</span>
	<input type="text" value="" name="username" placeholder="Username"/>
	<input  type="password" value="" name="password" placeholder="Password"/>
	<button type="submit"> Log in</button>
</form>
{{ message }}

<button><a href="/">I'm already a member</a></button>